@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: space-between;
  margin-top: 2% ;
  margin-bottom: 2%;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
}

img {
  width: 225px;
  height: 225px;
}

.grille {
  width: 90%;
  gap: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.block {
  width: 300px;
  height: 200px;
  background-color: #8c52ff;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.video {
  width: 280px;
  height: 180px;
}

.btn {
 position: relative;
 padding: 0.5em 1.75em;
 display: inline-block;
 border-radius: 6em;
 transition: all .2s;
 border: none;
 font-family: inherit;
 font-weight: 500;
 color: black;
 background-color: #8c52ff;
}

.btnoff {
  padding: 0.5em 1.75em 0.0em 1.75em;
  display: inline-block;
  color: #000000;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.btnoff:focus,
.btnoff:hover {
  color: #000000;
}

.btnoff:focus:after,
.btnoff:hover:after {
  width: 52%;
  left: 24%;
}

.btnoff:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.button {
  color: #000000;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.button:focus,
.button:hover {
  color: #000000;
}

.button:focus:after,
.button:hover:after {
  width: 100%;
  left: 0%;
}

.button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
